+++
title: IN Extended Warranty 010 urgent
layout: standard

preheader: 

header_logo_image: white
header_logo_url: https://www.india.ford.com

cover_06_white_title: Last chance to extend your warranty
cover_06_white_copy: Hello <%${user.CustomAttribute['FullName']}%><br><br>Your Ford <%${user.CustomAttribute['Selected_Vehicle']}%>'s warranty will expire on <%${user.CustomAttribute['EWDate']}%>. Once it expires, it can't be extended.<br><br>Our Extended Warranty Plans are designed specifically for your vehicle, and protect you from out-of-pocket bills. They cover major mechanical and electric failures, and are even transferrable - improving your vehicle's resale value.<br><br>We've got your back. Get in touch today and stay protected.
cover_06_white_cta1_text: STAY COVERED
cover_06_white_cta1_url: www.india.ford.com/ford-service/solutions/extended-warranty
cover_06_white_cta2_text: GET A CALLBACK
cover_06_white_cta2_url: www.india.ford.com/callback/confirmation
cover_06_white_icon: ew

image_banner_image: cashback_20160328
image_banner_url: http://www.google.com

footer_in_5icons_icon1_image: dealers_20160401
footer_in_5icons_icon2_image: ford_credit_20160401
footer_in_5icons_icon3_image: ford_assured_20160401
footer_in_5icons_icon4_image: customer_care_number_20160401
footer_in_5icons_icon5_image: rsa_no_20160401

+++

<%= partial "modules/#{lang}/head" %>

<%= partial "modules/#{lang}/header/logo" %>
<%= partial "modules/#{lang}/cover/06/white" %>
<%= partial "modules/#{lang}/image/banner" %>  
<%= partial "modules/#{lang}/footer/in/5icons" %>
<%= partial "modules/#{lang}/footer/in/social" %>
<%= partial "modules/#{lang}/footer/in/online" %>

<%= partial "modules/#{lang}/foot" %>