{{ partial "head.html" }}

<body>
  <div class="page-wrap">
    <div class="sidebar">
      <ul>
        <li><a href="/#AU">AU</a></li>
        <li><a href="/#IN">IN</a></li>
        <li><a href="/#PH">PH</a></li>
        <li><a href="/#TH">TH</a></li>
        <li><a href="/#VN">VN</a></li>
        <li><a href="/#Modules">Modules</a></li>
        <li><a href="/ascii">ASCII Symbols</a></li>
      </ul>
    </div>
      <table class="flat-table">
        <thead class="sticky">
          <th>Market</th>
          <th>HTML</th>
          <th>Text</th>
        </thead>
        <tbody>
          {{ range $key, $taxonomy := .Site.Taxonomies.markets }}
          <tr id="$key">
            <td> {{ $key }} </td>
            <td>
              <ul>
                {{ range $taxonomy.Pages }}
                <li>
                  <a class="download" href="{{ .Permalink }}" download>&#8595;</a>
                  <a href="{{ .Permalink }}">{{ .LinkTitle}} </a>
                </li>
                {{ end }}
              </ul>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
  </div>
</body>

</html>
