{{- partial "email_modules/header" . -}}
{{- $black := .Site.Data.emails.black -}}
{{- $fordblue := .Site.Data.emails.fordblue -}}
{{- $darkblue := .Site.Data.emails.darkblue -}}
{{- $lightblue := .Site.Data.emails.lightblue -}}
{{- $green := .Site.Data.emails.green -}}
{{- $slatescreen := .Site.Data.emails.slatescreen -}}
{{- $white := .Site.Data.emails.white -}}
{{- range .Params.module -}}
  {{- if eq .color "black" -}}
    {{partial .path (dict "moduleinfo" . "color" $black)}}
  {{- else if eq .color "white" -}}
    {{partial .path (dict "moduleinfo" . "color" $white)}}
  {{- else if eq .color "fordblue" -}}
    {{partial .path (dict "moduleinfo" . "color" $fordblue)}}
  {{- else if eq .color "darkblue" -}}
    {{partial .path (dict "moduleinfo" . "color" $darkblue)}}
  {{- else if eq .color "lightblue" -}}
    {{partial .path (dict "moduleinfo" . "color" $lightblue)}}
  {{- else if eq .color "slatescreen" -}}
    {{partial .path (dict "moduleinfo" . "color" $slatescreen)}}
  {{- else if eq .color "green" -}}
    {{partial .path (dict "moduleinfo" . "color" $green)}}
  {{- else if eq .color "nothing" -}}
    {{partial .path (dict "moduleinfo" . "color" $black)}}
  {{- else -}}
    <p style="text-align:center">{{.color}} is not a valid color for module with path: {{.path}}</p>
  {{- end -}}
{{- end -}}
{{ partial "email_modules/footer" . }}